<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="main.css">
	<link href="https://fonts.googleapis.com/css?family=Graduate&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
	<title>TML Stats: Current Toronto Maple Leafs Statistics</title>
</head>
<body>
  <nav>
    <ul class="nav-items">
      <li class="nav-item"><a href="http://localhost:3000/roster">Roster</a></li>
      <li class="nav-item"><a href="http://localhost:3000/">Home</a></li>
      <li class ="nav-item"><a href="http://localhost:3000/advstats">Advanced Stats</a></li>
    </ul>
  </nav>


</body>
</html>