*
{
	margin: 0;
	padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;

}


p
{

  font-size: 20px;
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;

}

h1
{
  font-size: 30px;
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1%;

}


#title
{
	padding-top: 3%;
	font-size: 73px;
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;

}

#roster
{
	padding-top: 5%;
	font-size: 72px;
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;

}

#advstats
{
	padding-top: 3%;
	font-size: 72px;
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;

}

#game
{
	text-align: center;
}


#caption
{
	font-size: 30px;
	text-align: center;
	color: black;
	font-family: 'Caveat', cursive;
	padding-bottom: 2%
}

#nextgame
{
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 50px;
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;

}

#at
{
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 30px; 
	color: black;
	font-family: 'Montserrat', sans-serif;


}

#game
{
	text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

#away
{
	text-align: center;
	flex: 0 0 120px;

}

#home
{
	text-align: center;
	flex: 0 0 120px;

}

#homeImg
{
	width: 150px;
	height: 150px;
}

#awayImg
{
	width: 150px;
	height: 150px;
}

.teamName
{
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.teamStat
{
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#gameTime
{
	text-align: center;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding-bottom: 5%;

}

#rostersub
{
	text-align: center;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;

}

table
{
	margin-left:auto; 
	width: 100%;
    margin-right:auto;
	background-color: white;
	border-radius: 15px;

}

th
{
	font-size: 25px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	margin-left:auto; 
    margin-right:auto;
    padding-bottom: 3%;
    border-bottom: 1px solid #ddd;

}

tr
{
	margin-left:auto; 
    margin-right:auto;
    text-align: right;
    border-bottom: 1px solid #ddd;

}

.top-title
{
	padding-top: 5%;
	text-align: center;
	padding-left: 5%;
}

.title
{
	text-align: center;
	padding-left: 5%;
}

.data
{
	text-align: center;
	padding-left: 25%;
}

.top-data
{
	text-align: center;
	padding-left: 25%;
	padding-top: 5%;
}

#wins
{
	color: green;
}

#losses
{
	color: red;
}

nav
{
	top: 0;
	height: 5vh;
	width: 100%;
	position: relative;
	background-color: #00205B;
	z-index: 1;
	filter: drop-shadow(10px 10px 4px #293033);
	align-content: center;
	justify-content: center;
	text-align: center;
}


.nav-items
{
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.nav-item
{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
}

a
{
	color: white;
	text-align: center;
	text-decoration: none;
}

.nav-sticky
{
	position: fixed;
	top: 0;
	width: 100%;
}


.offense
{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding-top: 3%;
	padding-bottom: 1%;
}

figure {
  margin-bottom: 10px;
  display: inline-block;
  filter: drop-shadow(1px 1px 1px #293033);
}

.players
{
  border-radius: 50%;
}

 
figcaption {
  width: 140px;
  background: rgba(0,0,0,0.6);
  font-size: 1.2em;
  color: white;
  padding: 10px 16px;
  opacity: 0;
  left: 3px;
  bottom: -10%;
  border-radius: 50%;
  -webkit-transition: all 0.44s ease;
  -moz-transition: all 0.44s ease;
  -o-transition: all 0.44s ease;
  transition: all 0.44s ease;
}
 
figure:hover figcaption 
{
   opacity: 1; 
   bottom: 5px; 
}


 #footer
 {
	height: 5vh;
	width: 100%;
	background-color: #00205B;
	text-align: center;
	display: block;

 }

 #footertext1
 {
 	color: white;
 	font-family: 'Montserrat', sans-serif;
 	font-size: 15px;


 }

 #footertext2
 {
 	color: white;
 	font-family: 'Montserrat', sans-serif;
  	font-size: 15px;

 }

